
.titulo {
    justify-content: center;
    font-size: 50px;
    margin-left: 45vw;
    margin-top: 5vh;
  }
  
body {
    color: white;
    overflow-x: hidden;    
  }
img{
  height: 325px;
  width: 500px;
}

.titulo-anime{
  text-shadow: 2px 2px 4px rgba(243, 239, 239, 0.5);
  font-size: 30px;
  padding: 5px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
  
.div_01 {
  grid-row: 1 / 2; 
  grid-column: 1;
  margin-bottom: 4%;
  }  
.div_02 {
  grid-row: 1; 
  grid-column: 2;
  margin-bottom: 4%;
  }
.div_03{
  grid-row: 2 / 3 ;
  grid-column: 1 ; 
  margin-bottom: 4%;
}
.div_04{
  grid-row: 2 ;
  grid-column: 2 ;
  margin-bottom: 4%; 
}
.div_05{
  grid-row: 3/ 4 ;
  grid-column: 1 ;
  margin-bottom: 4%;    
}
.div_06{
  grid-row: 3;
  grid-column: 2;
  margin-bottom: 4%;    
}
.div_07{
  grid-row: 4 / 5;
  grid-column: 1;
  margin-bottom: 4%;    
}
.div_08{
  grid-row: 4;
  grid-column: 2;
  margin-bottom: 4%;
}
.div_09{
  grid-row: 5 ;
  grid-column: 1; 
  margin-bottom: 4%;   
}
.div_10{
  grid-row: 5;
  grid-column: 2;
  margin-bottom: 4%;    
}
    
.div_01,
.div_02,
.div_03,
.div_04,
.div_05,
.div_06,
.div_07,
.div_08,
.div_09,
.div_10 {
  border: 1px solid rgb(254, 252, 252); /* Adicione uma borda sólida de 1px */
  padding: 10px; /* Adicione um espaçamento interno para o conteúdo */
}    



@media screen and (min-width: 401px) and (max-width:800px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    

}

@media screen and (min-width: 200px) and (max-width:400px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    

}